/* Add this CSS to your component's CSS file or a global CSS file */
.home-navbar {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; /* Adjust the duration and timing function as needed */
  }
  
  .home-navbar.show {
    max-height: 100%; /* Adjust the value to the maximum height you want */
  }
  
  /* Styling for the button to toggle the menu */
  .nav-toggle-button {
    cursor: pointer;
  }
  